.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 4px;
  list-style: none;
  text-align: center;
  width: 62vw;
  justify-content: right;
  margin-right: 2rem;
}

.navbar {
  margin-top: -1.5rem;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.dropdown-item{
  background-color: #363838 !important;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}


.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: #fff;
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}
.navbar-logo:hover {
  color: #fff;
}


.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.logButton {
  padding: 12px 22px;
  font-size: 25px;
  margin-bottom: 18px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  font-family: 'PT Sans', sans-serif;
}

.logButton:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}


@media screen and (max-width: 960px) {

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    border-radius: 2px;
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background-color: #fff;
    color: #242222;
    border-bottom: 4px solid #fff;
    transition: 250ms;
  }

  .logButton {
    display: none;
  }

}

