body{margin-top:20px;}
.idance .classes-details ul.timetable {
    margin: 0 0 22px;
    padding: 0;
}
.idance .classes-details ul.timetable li {
    list-style: none;
    font-size: 15px;
    color: #7f7f7f;
}
idance .timetable {
    max-width: 900px;
    margin: 0 auto;
}
.idance .timetable-item {
    border: 1px solid #d8e3eb;
    padding: 15px;
    margin-top: 20px;
    position: relative;
    display: block;
}
@media (min-width: 768px) {
    .idance .timetable-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
.idance .timetable-item-img {
    overflow: hidden;
    height: 100px;
    width: 100px;
    display: none;
}
.idance .timetable-item-img img {
    height: 100%;
}
@media (min-width: 768px) {
    .idance .timetable-item-img {
        display: block;
    }
}
.idance .timetable-item-main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    margin-top: 12px;
}
@media (min-width: 768px) {
    .idance .timetable-item-main {
        margin-top: 0;
        padding-left: 15px;
    }
}
.idance .expire{
    color: #d44949;
}
.idance .timetable-item-time {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
}
.idance .timetable-item-name {
    font-size: 14px;
    margin-bottom: 19px;
}
.idance .btn-book {
    padding: 6px 30px;
    width: 100%;
}
.idance .btn-book-disabled {
    padding: 6px 30px solid #999999;
    width: 100%;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}
.idance .timetable-item-like {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 20px;
    cursor: pointer;
}
.idance .timetable-item-like .fa-heart-o {
    display: block;
    color: #b7b7b7;
}
.idance .timetable-item-like .fa-heart {
    display: none;
    color: #f15465;
}
.idance .timetable-item-like:hover .fa-heart {
    display: block;
}
.idance .timetable-item-like:hover .fa-heart-o {
    display: none;
}
.idance .timetable-item-like-count {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    color: #7f7f7f;
}

.idance .timetable-item-like-count-red {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    color: #d44949;
}
.idance .timetable-item-book {
    width: 200px;
}
.idance .timetable-item-book .btn {
    width: 100%;
}
.idance .schedule .nav-tabs {
    border-bottom: 2px solid #104455;
}
.idance .schedule .nav-link {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 500;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border-radius: 2px 2px 0 0;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}
@media (min-width: 768px) {
    .idance .schedule .nav-link {
        font-size: 16px;
    }
}
.idance .schedule .nav-link.active {
    background: #104455;
    border-color: #104455;
    color: #fff;
}
.idance .schedule .nav-link.active:focus {
    border-color: #104455;
}
.idance .schedule .nav-link:hover:not(.active) {
    background: #46c1be;
    border-color: #46c1be;
    color: #fff;
}
.idance .schedule .tab-pane {
    padding-top: 10px;
}
.searchInputs {
    position: absolute;
    margin-top: 45px;
    margin-left: 510px;
    display: flex;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
  }
  
  .searchIcon {
    height: 30px;
    width: 40px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }